@import '../../assets/variables.scss';

.fg-btn{
    margin-top: 10px;
    height: 3em;
    border-radius: 5px;
    border-width: 0;
    padding: 0px 20px;
    background-color: $COLOR_login_btn;
    color: white;
    font-size: 1em;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    &:hover{
        background-color: $COLOR_login_btn_hover;
    }
}

.fg-button-notify{
    background-color: rgb(212, 212, 212);
    color: black;
    &:hover{
        background-color: white;
    }
}

.fg-button-logout{
    background-color: rgb(61, 61, 61);
    color: white;
    &:hover{
        background-color: rgb(116, 116, 116);
    }
}