

.devices-page{
    background-color: #ff7043;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    .devices-container{
        color: white;
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
        text-align: center;
        overflow-y: hidden;
    }

    
}

